<!-- <p>
  identidad works!
</p> -->
<br/>
<form class="form">
  <div class="form-group row">
    <label for="nombre" class="col-sm-2 col-form-label text-right">Nombre:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="nombre" value="">
    </div>
    <label for="apPaterno" class="col-sm-2 col-form-label text-right">Primer apellido:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="apPaterno" value="">
    </div>
    <label for="apMaterno" class="col-sm-2 col-form-label text-right">Segundo apellido:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="apMaterno" value="">
    </div>
  </div>
  <div class="form-group row">
    <label for="fechaNaci" class="col-sm-2 col-form-label text-right">Fecha nacimiento:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="fechaNaci" value="">
    </div>
    <label for="LugarNaci" class="col-sm-2  text-right">Lugar nacimiento:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="LugarNaci" value="">
    </div>
    <label for="sexo" class="col-sm-2 col-form-label text-right">Sexo:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="sexo" value="">
    </div>
  </div>
  <div class="form-group row">
    <label for="curp" class="col-sm-2 col-form-label text-right">CURP:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="curp" value="">
    </div>
  </div>
  <div class="form-group row">
    <label for="domicilio" class="col-sm-2 col-form-label text-right">Domicilio:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="domicilio" value="">
    </div>
    <label for="colonia" class="col-sm-2 text-right">Colonia:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="colonia" value="">
    </div>
  </div>
  <div class="form-group row">
    <label for="municipio" class="col-sm-2 col-form-label text-right">Municipio:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="municipio" value="">
    </div>
    <label for="estado" class="col-sm-2 text-right">Estado:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="estado" value="">
    </div>
  </div>
  <div class="form-group row">
    <label for="pais" class="col-sm-2 col-form-label text-right">Pais:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="pais" value="">
    </div>
    <label for="cp" class="col-sm-2 text-right">CP:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="cp" value="">
    </div>
  </div>
  <div class="form-group row">
    <label for="telLocal" class="col-sm-2 col-form-label text-right">Teléfono local:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="telLocal" value="">
    </div>
    <label for="movil" class="col-sm-2 text-right">Movil:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="movil" value="">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label text-right">Correo electrónico:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="email" value="">
    </div>
  </div>


</form>

