<!-- <p>
  complementarios-clinicos works!
</p> -->
<br/>
<form class="form">
  <div class="form-group row">
    <label for="religion" class="col-sm-2 col-form-label text-right">Religión:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="religion" value="">
    </div>
    <label for="origenEtnico" class="col-sm-2 col-form-label text-right">Origen Étnico:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="origenEtnico" value="">
    </div>
    <label for="escolaridad" class="col-sm-2 col-form-label text-right">Escolaridad:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="escolaridad" value="">
    </div>
  </div>
  <div class="form-group row">
    <label for="ocupacionActual" class="col-sm-2 col-form-label text-right">Ocupación Actual:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="ocupacionActual" value="">
    </div>
    <label for="ocupacionAnterior" class="col-sm-2  text-right">Ocupación Anterior:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="ocupacionAnterior" value="">
    </div>
  </div>
  <div class="form-group row">
    <label for="viveSolo" class="col-sm-2 col-form-label text-right">¿Vive Solo?</label>
    <div class="col-sm-6">
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="viveSolo" value="true"> SI
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="viveSolo" value="false"> NO
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="afiliacionSalud" class="col-sm-2 col-form-label text-right">Afiliación de Salud:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="afiliacionSalud" value="">
    </div>
    <label for="numAfiliacion" class="col-sm-2 text-right">Núm de Afiliación:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="numAfiliacion" value="">
    </div>
    <label for="tipoSangre" class="col-sm-2 text-right">Tipo de Sangre:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="tipoSangre" value="">
    </div>
  </div>
  <div class="form-group row">
    <label for="alergias" class="col-sm-2 col-form-label text-right">Alergías:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="alergias" value="">
    </div>
  </div>
  <div class="form-group row">
    <label for="discapacidad" class="col-sm-2 col-form-label text-right">Discapacidad:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="discapacidad" value="">
    </div>
  </div>
</form>
